/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
  
  /* roboto-700 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v29-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
  
  /* roboto-900 - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v29-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
    
body {
    margin: 0;
    font-family: "Roboto", serif 
}

.main-header {
    min-height: 50px;
    height: 50px;
    position: sticky; 
    top: 0;
    border-bottom: 1px solid grey;
    z-index: 199;
    background-color: #f2f4f5;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;   
}

.logo div {
 font-size: 18px;
 font-weight: 800;
 margin-top: -45px;
 margin-left: 75px;
}

.logo img {
    height: 45px;
    width: auto;
    padding: 3px;
}

.contacts {
 font-size: 18px;
 font-weight: 800;
 padding: 10px 0;
}

.phone {
    margin-left: -140px;
}

.phone a {
text-decoration: none;
}

.vb-tg {
    margin-top: -25px;
}

.video_bg video{
    width: 100%;
    height: 100%;
    z-index: -1;
}

section .video {
  position: relative;
}

.video-text {
  position: absolute;
  text-align: center;
  left: 29%;
  top: 40%;
}

.video_bg h1 {
    font-size: 2rem;
    color: #00ffd2;
    text-align: center;
}

.video_bg p {
    font-size: 1.5rem;
    color: #00ffd2;
    text-align: center;  
}

.block {
    display: flex;
    flex-wrap: wrap;
    
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.form-1 img {
    width: 512px;
    height: 513px;
}

.form-2 {
    background-color: transparent;
    background-image: linear-gradient(135deg,rgba(208, 210, 219, 0.1),rgba(8, 27, 243, 0.6));
    width: 46%;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
    
}

.form-3 {
    background-color: transparent;
    background-image: linear-gradient(135deg,rgba(232, 229, 229, 0.1),rgba(233, 226, 27, 0.6));
    width: 46%;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
}

.form-3 span {
    color: red;
    font-weight: 900;
    font-size: 28px;
}

.form-4 img {
    width: 510px;
    height: 512px;
    border: 1px solid grey;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.container .olx {
    width: 100%;
}

 .delivery-info {
    background-color:rgba(60, 172, 184, 0.8);
    text-align: center;
    width: 43%;
    margin: -33% 30%;
    font-size: 28px;
    z-index: 1;
    position: absolute;
    padding: 10px;
    color: rgb(27, 2, 62);
    font-weight: 700;
   
}  
.delivery {
    margin: 0;
}

.olx {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.video-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-video-block {
    width: 50%;
}
.right-video-block {
    background-color: transparent;
    background-image: linear-gradient(135deg,rgba(248, 212, 205, 0.1),rgba(135, 253, 72, 0.6));
    width: 46%;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}

.phone-input {
    border-top: 1px solid gray;
    text-align: center;
    padding: 3px 0;
    height: 80px;
    position: sticky; 
    z-index: 199;
    bottom: 0;
    background-color: #f2f4f5;
}

.phone-number {
    height: 30px;
}

.phone-number-text {
    font-weight: 700;
    margin-bottom: 0;
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 24px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;    
	border-radius: 3px;
	height: 37px;
	line-height: 37px;
	font-size: 14px; 
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	background-color: #05cd51;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
	transition: box-shadow .18s ease-out, background .18s ease-out,color .18s ease-out;
}

.btn:focus-visible {
	box-shadow: 0 0 0 3px lightskyblue;
}

.btn:hover {
	box-shadow: 0 1px 1px 0  #cfcfcf, 0 2px 5px 0  #cfcfcf;
}

.btn:active {
	background-color: #058c38 !important;
}

footer {
    height: 40px;
    border-top: 1px solid grey;
    text-align: center;
    color: blueviolet;
}

@media (max-width:1040px) {
   
    .container {
        width: auto;
    }
 
    .video-block {
        width: auto;
    }  

    .form-1 {
        order: 1; 
        display: flex;
        justify-content: center;
        width: 100%;
    } 
    
    .form-2 {
        order: 3; 
        width: 100%;
    }
    
    .form-3 {
        order: 4; 
        width: 100%;
    }
    
   

    .form-4 {
        display: flex;
        justify-content: center;
        order: 2; 
        width: 100%;
    }

    .right-video-block,.left-video-block {
        width: 100%;
    }

    .left-video-block {
    display: flex;
    justify-content: center;
    }  

    .delivery-info {
    font-size: 20px;
    font-weight: 400;
    }  
}

@media (max-width:750px) {
    .video-text {
        position: absolute;
        text-align: center;
        left: 7%;
        top: 30%;
     }
      
      .video_bg h1 {
          font-size: 2rem;
          color: #00ffd2;
          text-align: center;
      }
      
      .video_bg p {
          font-size: 1.5rem;
          color: #00ffd2;
          text-align: center;  
      }

      .delivery-info {
        font-size: 16px;
        font-weight: 400;
        margin: -38% 30%;
    } 
}

@media (max-width:590px) {
    .logo div {
        font-size: 16px;
        font-weight: 800;
        margin-top: -55px;
        margin-left: 75px;
       }

    .contacts {
        font-size: 16px;
        margin-top: 10px;
        padding: 10px 0;
    }

    .phone {
        margin-left: -120px;
    }

    .video-text {
        left: 2%;
        top: 15%;
    }

    .delivery-info {
        font-size: 16px;
        margin: -37% 22%;
        width: 70%;
        padding: 5px;
    }

    .form-1 img {
        width: 360px;
        height: 360px;
    }

    .form-4 img {
        width: 360px;
        height: 360px;
    }

    .video_bg h1 {
        font-size: 2rem;
        color: #00ffd2;
        text-align: center;
    }
    
    .video_bg p {
        font-size: 1.1rem;
        color: #00ffd2;
        text-align: center;  
    }

    .right-video-block a{
        font-size: 22px;
    }
}

@media (max-width:490px){
    .video_bg h1 {
            font-size: 1.2rem;
            color: #00ffd2;
            text-align: center;
        }
        
        .video_bg p {
            font-size: 1.05rem;
            color: #00ffd2;
            text-align: center;  
        }

        .delivery-info {
            padding: 5px;
            font-size: 14px;
            margin: -37% 10%;
            width: 80%;
        }
        .video-text {
            left: 1%;
            top: 10%;
        }
        
        .phone-number {
        margin-left: 5px;
        }

        .btn {
            padding: 0 5px;
            text-align: center;
        }
}